
.calculator {
    box-sizing: border-box;
}

.calculator__main-heading {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.calculator__main {
    border-bottom: black 0.5px solid;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 40%;
    margin: 0 auto;
    min-width: 190px;
    width: 15vw;
}

.calculator__screen {
    color: white;
    font-size: 2rem;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-top: 10px;
    text-align: right;
}

.calculator__button-row {
    display: flex;
}

.calculator__button {
    background-color: lightgray;
    font-size: 2rem;
    margin: 0.5px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 25%;
}

button:hover {
    background-color: darkgray;
}

button:first-child {
    border-left: solid 0.25px black;
}

button:last-child {
    background-color: orange;
    color: white;
    margin-right: 1px;
}

button:last-child:hover {
    background-color: darkorange;
}

.clear {
    width: 50%;
}

.button-0 {
    width: 75%;
}